# Ignore virtual environments
venv/
bilbasen_venv/
__pycache__/
*.pyc
*.pyo

# VSCode settings
.vscode/
.ipynb_checkpoints/

# Data files
*.parquet
data/
data_alignment

# Jupyter Notebook checkpoint folders
.ipynb_checkpoints/

# Cron logs and output
logs/
output/
