# Ignore virtual environments
venv/
bilbasen_venv/
__pycache__/
*.pyc
*.pyo

# VSCode settings
.vscode/
.ipynb_checkpoints/

# Data files
*.parquet
data/

# Jupyter Notebook checkpoint folders
.ipynb_checkpoints/
